@import './Const';

.container-card-poke{
    @include container;
    @include center($fd:column, $jc:space-around);
    padding: 3vh 5vw;
    .title-new-poke{
        font-size: 1.2rem;
        text-align: center;
    }
    .card-poke{
        @include center($jc:space-around);
        width: 100%;
        .card-poke-container{
            @include center($fd:column);
            .card-poke-img{
                height: 250px;
                border-radius: 1rem;
                box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
                margin-bottom: 3vh;
            }
            .card-poke-stats{
                line-height: 2rem;
            }
        }
    }
    .card-buttons{
        width: 100%;
        @include center($jc:space-around);
        .card-poke-button-volver, .card-drop-poke{
            @include button($height:7vh, $width:25vw);
            @include center;
        }
    }
}

@media (max-width:768px){
    .container-card-poke{
        
        @include container-responsive;
        .title-new-poke{
            line-height: 2rem;
        }
        .card-poke{
            flex-direction: column;
            .card-poke-container-stats{
                margin-top: 3vh;
            }
        }
        .card-buttons{
            flex-direction: column;
            .card-drop-poke{
                width: 85%;
                margin-bottom: 3vh;
            }
            .card-poke-button-volver{
                width: 85%;
            }
        }
    }
}