@import './Const';

.container-fight-home{
    @include container;
    @include center;
    padding: 0;
    .fight-container{
        @include center($fd:column);
        height: 100%;
        width: 100%;
        .fight-team-title{
            height: 15%;
            @include center;
        }
        .fight-team-container{
            width: 100%;
            height: 60%;
            @include center;
            .fight-team-pokes{
                height: 70%;
                @include center($jc:space-around, $fd:column);
                margin: 0 5vw;
                text-decoration: none;
                background-color: rgba($color: #343434, $alpha: .3);
                border-radius: 1rem;
                &:hover{
                    background-color: rgba($color: #343434, $alpha: .6);
                    border-radius: 1rem;
                    cursor: pointer;
                }
                .fight-team-img{
                    width: 80%;
                    max-width: 180px;
                }
            }
            .poke-selected{
                background-color: rgba($color: #202020, $alpha: .6);
                border-radius: 1rem;
            }
        }
        .fight-team-button-container{
            height: 25%;
            width: 100%;
            @include center($jc:space-evenly);
            background-color: rgba($color: #343434, $alpha: .5);
            .fight-team-button{
                @include button($height:7vh, $width:25vw);
                @include center;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    .container-fight-screen{
        height: 100%;
        width: 100%;/* 
        @include center; */
        .container-cards{
            height: 80%;
            width: 100%;
            @include center($fd:column, $jc:space-evenly);
            background-image: url("/background-battle.jpg");
            background-position: center;
            background-size: cover;
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
            .fight-card, .fight-card-selected{
                background-color: transparent;
                height: 50%;
                width: 100%;
                @include center($jc:space-evenly);
                .container-fight-card{
                    height: 50%;
                    width: 35%;
                    background-color: rgba($color: #343434, $alpha: .5);
                    border-radius: .5rem;
                    @include center($fd:column);
                    .fight-card-name{
                        margin-bottom: 1vh;
                        background-color: transparent;
                    }
                    .fight-card-progress{
                        width: 80%;
                        border: 1px solid black;
                        border-radius: 1rem;
                    }
                    .fight-card-hp{
                        background-color: transparent;
                        margin-top: 2vh;
                    }
                }
                .fight-card-img{
                    background-color: transparent;
                    height: 80%;
                }
            }
            .fight-card-selected{
                flex-direction: row-reverse;
            }
        }
        .container-fight-control{
            height: 20%;
            @include center($jc:space-between);
            border-top: 1px solid #343434;
            padding: 0 4vw;
            background-image: url("/background-battle-comments.jpg");
            .fight-comments{
                width: 50%;
                height: 70%;
                background-color: rgba($color: #343434, $alpha: .8);
                border-radius: .5rem;
                @include center($fd:column, $jc:space-evenly);
                p{
                    font-size: .7rem;
                    width: 90%;
                    background-color: transparent;
                }
            }
            .fight-buttons-container{
                width: 45%;
                @include center($jc:space-between);
                background-color: transparent;
                .fight-buttons{
                    @include button($height:7vh, $width:13vw);
                    @include center;
                    font-size: .8rem;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .winner-container{
        height: 100%;
        background-image: url("/background-battle.jpg");
        background-position: center;
        border-radius: 1rem;
        background-size: cover;
        .winner-filter{
            background-color: rgba($color: #343434, $alpha: .5);
            height: 100%;
            width: 100%;
            border-radius: 1rem;
            @include center($fd:column);
            .winner-title{
                @include center;
                height: 15%;
                background-color: transparent;
            }
            .winner-img{
                background-color: transparent;
                height: 50%;
                margin-bottom: 3vh;
            }
            .winner-button-back{
                background-color: transparent;
                @include button($height:7vh, $width:35vw);
                @include center;
            }
        }
    }
    
}

@media (max-width:768px){
    main{
        .container-fight-home{
            @include container-responsive;
            .fight-container{
                .fight-team-title{
                    width: 80%;
                    line-height: 2rem;
                    text-align: center;
                }
                .fight-team-container{
                    flex-direction: column;
                    justify-content: space-evenly;
                    .fight-team-pokes{
                        flex-direction: row;
                        margin: 0;
                        width: 80%;
                        height: 30%;
                        .figth-team-img{
                            width: 130px;
                            max-width: 350px;
                        }
                    }
                }
                .fight-team-button-container{
                    @include center($fd:column, $jc:space-evenly);
                    .fight-team-button{
                        width: 70%;
                    }
                }
            }
            .container-fight-screen{
                .container-cards{
                    height: 60%;
                    .fight-card, .fight-card-selected{
                        margin: 0 5vw;
                        height: 35%;
                        .fight-card-img{
                            height: 170px;
                        }
                        .container-fight-card{
                            width: 50%;
                            .fight-card-hp{
                                font-size: .7rem;
                            }
                        }
                    }
                }
                .container-fight-control{
                    flex-direction: column;
                    height: 40%;
                    justify-content: space-evenly;
                    .fight-comments{
                        width: 100%;
                        height: 50%;
                        line-height: 1rem;
                        p{
                            font-size: .9rem;
                        }
                    }
                    .fight-buttons-container{
                        width: 100%;
                        .fight-buttons{
                            width: 45%;
                        }
                    }
                }
                .winner-container{
                    justify-content: space-around;
                    .winner-title{
                        text-align: center;
                        line-height: 2rem;
                        font-size: 1.3rem;
                    }
                    .winner-img{
                        height: 40%;
                        margin-bottom: 7vh;
                    }
                    .winner-button-back{
                        width: 80vw;
                        text-align: center;
                    }
                }
            }
        }
    }
}