@import './Const';

.container-home{
    @include container;
    @include center($fd:column);
    .home-title{
        font-size: 1.2rem;
        height: 15%;
        text-align: center;
        @include center;
    }
    .home-container-team{
        width: 100%;
        height: 60%;
        @include center;
        .home-team-poke{
            height: 70%;
            @include center($jc:space-around, $fd:column);
            margin: 0 5vw;
            text-decoration: none;
            background-color: rgba($color: #343434, $alpha: .3);
            border-radius: 1rem;
            &:hover{
                background-color: rgba($color: #343434, $alpha: .6);
                border-radius: 1rem;
                cursor: pointer;
            }
            .home-team-img{
                width: 80%;
                max-width: 180px;
            }
        }
    }
    .container-button-new-poke{
        width: 100%;
        height: 25%;
        @include center($jc:space-evenly);
        background-color: rgba($color: #343434, $alpha: .5);
        .home-button-figth{
            text-decoration: none;
        }
        .home-button-new-poke, .home-button-figth{
            @include button($height:7vh, $width:25vw);
            @include center;
        }
        .full-team{
            font-size: .8rem;
        }
    }
}


@media (max-width:768px){
    main{
        .container-home{
            @include container-responsive;
            .home-title{
                width: 80%;
                line-height: 2rem;
            }
            .home-container-team{
                flex-direction: column;
                justify-content: space-evenly;
                .home-team-poke{
                    flex-direction: row;
                    margin: 0;
                    width: 80%;
                    height: 30%;
                    .home-team-img{
                        width: 130px;
                        max-width: 350px;
                    }
                }
            }
            .container-button-new-poke{
                @include center($jc:space-evenly);
                flex-direction: column-reverse;
                .home-button-figth, .home-button-new-poke{
                    width: 70%;
                    text-align: center;
                }
            }
        }
    }
}