@import './Const';

.container-login{
    height: 60%;
    width: 60%;
    border-radius: 5%;
    @include center($fd:column, $jc:space-evenly);
    background-color: rgba($color: #343434, $alpha: .3);
    .input-login{
        height: 10%;
        width: 75%;
        padding: 0 3%;
        border-radius: 5px;
        border: 1px solid rgba($color: #343434, $alpha: .6);
        background-color: transparent;
        &::placeholder{
            color: #fff;
        }
        &:focus{
            outline: 2px solid rgba($color: #343434, $alpha: .6);
        }
    }
    .p-login{
        font-size: .9rem;
        &:hover{
            cursor: pointer;
            color: #dbdbdb;
        }
    }
    .btn-login{
        height: 8vh;
        width: 35vw;
        border-radius: 15px;
        background-color: rgba($color: #343434, $alpha: .6);
        border: none;
        &:hover{
            background-color: rgba($color: #343434, $alpha: .9);
            cursor: pointer;
        }
        
    }
}

@media (max-width:768px){
    .container-login{
        width: 90%;
        .input-login{
            width: 85%;
        }
        .btn-login{
            width: 75%;
        }
    }
}