@import './Const';

.container-pokeball{
  @include container;
  @include center($fd:column, $jc:space-evenly);
  .title-pokeball{
    text-align: center;
    width: 90%;
    line-height: 2rem;
  }
  .pokeball{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 150px;
    box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
    position: relative;
    .pokeball-red{
        height: 50%;
        width: 100%;
        background-color: red;
        border-top-left-radius: 150px;
        border-top-right-radius: 150px;
        box-shadow: inset 0px -7px 0px 0px rgba(0,0,0,1);
      }
    .pokeball-button{
        height: 70px;
        width: 70px;
        border-radius: 35px;
        border: 5px solid black;
        background-color: white;
        position: absolute;
        top: 40%;
        left: 40%;
        &:hover{
          border: 6px solid black;
          cursor: pointer;
        }
      }
    .pokeball-white{
        height: 50%;
        width: 100%;
        background-color: white;
        border-bottom-left-radius: 150px;
        border-bottom-right-radius: 150px;
        box-shadow: inset 0px 7px 0px 0px rgba(0,0,0,1);
      }
  }
  .poke-back{
    @include center;
    @include button($height:7vh, $width:15vw)
  }
}

@media (max-width:768px){
  .container-pokeball{
    @include container-responsive;
    .title-pokeball{
      width: 80%;
      text-align: center;
    }
    .poke-back{
      width: 45vw;
    }
  }
}