.pokeball{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 150px;
    box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.75);
    .pokeball-red{
        height: 50%;
        width: 100%;
        background-color: red;
        border-top-left-radius: 150px;
        border-top-right-radius: 150px;
        box-shadow: inset 0px -7px 0px 0px rgba(0,0,0,1);
      }
    .pokeball-button{
        height: 70px;
        width: 70px;
        border-radius: 35px;
        border: 5px solid black;
        background-color: white;
        position: absolute;
        bottom: 44vh;
        left: 47vw;
        &:hover{
          border: 6px solid black;
          cursor: pointer;
        }
      }
    .pokeball-white{
        height: 50%;
        width: 100%;
        background-color: white;
        border-bottom-left-radius: 150px;
        border-bottom-right-radius: 150px;
        box-shadow: inset 0px 7px 0px 0px rgba(0,0,0,1);
      }
  }